@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body,
    input,
    textarea,
    button {
        font-size: 1rem;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        font-family: "Roboto", sans-serif;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #1f293760;
        border-radius: 3px;
        transition: 0.2s;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #1f293780;
    }
}
